<h2 class="sub-header">Add Invoice</h2>
<form ng-submit="addInvoice()" ng-init="getCustomers()">
	<div class="form-group">
		<label>Customer</label>
		<select class="form-control" ng-model="invoice.customer">
			<option ng-repeat="customer in customers" value="{{customer._id}}">{{customer.first_name}} {{customer.last_name}} | {{customer.company}}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Service</label>
		<input type="text" class="form-control" name="service" ng-model="invoice.service" placeholder="Service">
	</div>
	<div class="form-group">
		<label>Price</label>
		<input type="text" class="form-control" name="price" ng-model="invoice.price" placeholder="Price">
	</div>
	<div class="form-group">
		<label>Due Date</label>
		<input type="text" class="form-control" name="due" ng-model="invoice.due" placeholder="mm/dd/yyyy">
	</div>
	<div class="form-group">
		<label>Stage</label>
		<select class="form-control" ng-model="invoice.stage">
			<option ng-repeat="stage in stageOptions" value="{{stage}}">{{stage}}</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
